<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.csmall.product.mapper.BrandCategoryMapper">

    <!--int insert(BrandCategory brandCategory);-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_brand_category(brand_id, category_id)
        VALUES (#{brandId}, #{categoryId})
    </insert>

    <!--int delete(@Param("brandId") Long brandId,@Param("categoryId") Long categoryId);-->
    <delete id="delete">
        DELETE FROM pms_brand_category WHERE brand_id=#{brandId} AND category_id=#{categoryId}
    </delete>

    <!--int count();-->
    <select id="count" resultType="int">
        SELECT count(*)
        FROM pms_brand_category
    </select>

    <!--int countByBrandId(Long BrandId);-->
    <select id="countByBrandId" resultType="int">
        SELECT count(*)
        FROM pms_brand_category
        WHERE brand_id = #{brandId}
    </select>
    
    <!--int countByCategoryId(Long categoryId);-->
    <select id="countByCategoryId" resultType="int">
        SELECT count(*)
        FROM pms_brand_category
        WHERE category_id=#{categoryId}
    </select>

    <!--int countByBrandAndCategoryId(Long brandId,Long categoryId);-->
    <select id="countByBrandAndCategoryId" resultType="int">
        SELECT count(*) FROM pms_brand_category WHERE brand_id=#{brandId} AND category_id=#{categoryId}
    </select>

    <!--BrandCategoryStandardVO getStandardById(Long id);-->
    <select id="getStandardById" resultMap="StandardByIdRM">
        SELECT id, brand_id, category_id
        FROM pms_brand_category
        WHERE id = #{id}
    </select>

    <resultMap id="StandardByIdRM" type="cn.tedu.csmall.product.pojo.vo.BrandCategoryStandardVO">
        <id column="id" property="id"/>
        <result column="brand_id" property="brandId"/>
        <result column="category_id" property="categoryId"/>
    </resultMap>

    <!--List<BrandCategoryListItemVO> list();-->
    <select id="list" resultMap="ListItemRM">
        SELECT id, brand_id, category_id
        FROM pms_brand_category
    </select>
    <resultMap id="ListItemRM" type="cn.tedu.csmall.product.pojo.vo.BrandCategoryListItemVO">
        <id column="id" property="id"/>
        <result column="brand_id" property="brandId"/>
        <result column="category_id" property="categoryId"/>
    </resultMap>
</mapper>
